@model IList<Blog.WebApp.ViewModels.ImageViewModel>

@{
    ViewBag.Title = "Grafiki";
}

<div class="content-bg p-5">
    <div class="row">
        @Html.Partial("_AddImage")
    </div>
    @if (Model.Any())
    {
        <div class="row">
            <h2 class="col-12">Istniejące grafiki</h2>
            @foreach (var image in Model)
            {
                <div class="col-12 row mt-2">
                    <div class="col-auto">
                        <img src="@Url.Content(image.ThumbnailPath)" alt=""/>
                    </div>
                    <div class="col">
                        @Html.TextBox("image-url", Url.Content(image.ImagePath), htmlAttributes: new { @class = "w-100" })
                    </div>
                </div>
            }
        </div>
    }
</div>
