@{
    ViewBag.Title = "O blogu";
}

<div class="container content-bg p-4">
    <p>
        <h2>O blogu</h2>
    </p>
    <p>
        Szpilkami na mapie zaczęłam oznaczać, które miejsca już odwiedziłam. Pamięć jest zawodna, i pytana, co udało mi się zwiedzić, musiałam przekopać trochę umysłu. Pokazanie mapy było prostsze.
    </p>
    <p class="text-center">
        <img src="@Url.Content("~/Content/themes/orange/images/mapa.jpg")" class="w-75"/>
    </p>
    <p>
        Pytana, co działo się na danej wyprawie, męczyłam się jeszcze bardziej. Wspomnienia z czasem zaczynają blednąć, a aparat nie wszystko uchwyci. Dlatego zaczęłam robić notatki.
    </p>
    <p>
        Stworzenie bloga jest dosyć popularnym zadaniem dla programisty chcącego przeszkolić się w technologiach webowych. Zaciągnęłam więc do wspólnego kodzenia pierwszego programistę, jakiego znalazłam, i po czasem mniej, a czasem bardziej owocnej współpracy, udało nam się stworzyć niniejszy blog.
    </p>
    <p>
        Chcesz skrytykować?
        Wal. &#8594; <a href="mailto:szpilkapomapie@gmail.com">szpilkapomapie@gmail.com</a>
    </p>
</div>
