@model Blog.WebApp.ViewModels.PostsViewModel

<div id="content">
    <h1>@ViewBag.Title</h1>

    @Html.Partial("_Pager", Model.PagerViewModel)

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            <div class="mb-2">@Html.Partial("_PostTemplate", post)</div>
        }
    }
    else
    {
        <p>No posts found!</p>
    }

    @Html.Partial("_Pager", Model.PagerViewModel)
</div>