@model Blog.WebApp.ViewModels.PostsViewModel

<div id="content">
    
    @Html.Partial("_Pager", Model.PagerViewModel)

    @if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        <div class="content-bg mb-2 p-2">
            <h2 class="m-0">@ViewBag.Title</h2>
        </div>
    }

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            <div class="mb-2">@Html.Partial("_PostTemplate", post)</div>
        }
    }
    else
    {
        <p class="content-bg mb-2 p-2">No posts found!</p>
    }

    @Html.Partial("_Pager", Model.PagerViewModel)
</div>