<h2 class="col-12">@Resources.NewImage</h2>
@using (Html.BeginForm("AddImage", "Admin", FormMethod.Post, 
    new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="col">
            <input name="image" type="file" />
        </div>
        <div class="col-auto">
            <input type="submit" value="@Resources.Upload" />
        </div>
    </div>
}
