@model Blog.WebApp.ViewModels.LeftSidebarViewModel

<div id="sidebars">
    <div class="sidebar">
        <div class="text-center section-title">
            <h3>Wyprawy</h3>
        </div>
        <ul>
            @foreach (var category in Model.Categories)
            {
                <li>@Html.CategoryLink(category)</li>
            }
        </ul>
    </div>
    <div class="sidebar">
        <div class="text-center section-title">
            <h3>Ostatnie posty</h3>
        </div>
        <ul>
            @foreach (var post in Model.LatestPosts)
            {
                <li>@Html.PostLink(post, post.Title)</li>
            }
        </ul>
    </div>
</div>