@model Blog.WebApp.ViewModels.LeftSidebarViewModel

<div id="sidebars">
    <div class="sidebar">
        <div id="categories-title" class="text-center">
            <h3>Categories</h3>
        </div>
        <ul>
            @foreach (var category in Model.Categories)
            {
                <li>@Html.CategoryLink(category)</li>
            }
        </ul>
    </div>
    <div class="sidebar">
        <div id="latest-posts-title" class="text-center">
            <h3>Latest posts</h3>
        </div>
        <ul>
            @foreach (var post in Model.LatestPosts)
            {
                <li>@Html.PostLink(post, post.Title)</li>
            }
        </ul>
    </div>
</div>