@model Blog.WebApp.ViewModels.RightSidebarViewModel

<div id="sidebars">
    <div class="sidebar">
        @Html.Partial("_Search")
    </div>
    <div class="sidebar">
        <div class="text-center section-title">
            <h3>Tags</h3>
        </div>
        @foreach (var tag in Model.Tags)
        {
            <span>@Html.TagLink(tag)</span>
        }
    </div>
</div>

