@using (Html.BeginForm("Search", "Blog", FormMethod.Get, htmlAttributes: new { id = "search-form" })) 
{
    <p>
        @Html.TextBox("searchPhrase", "", htmlAttributes: new { id = "searchPhrase" })
    </p>
    <p>
        <input type="submit" value="Search">
    </p>
}