@using (Html.BeginForm("Search", "Blog", FormMethod.Get, htmlAttributes: new { id = "search-form form-inline" }))
{
    <div class="row form-group w-100 ml-0">
        <div class="col m-0 p-0">
        @Html.TextBox("searchPhrase", "", htmlAttributes: new
        {
            id = "searchPhrase",
            @class = "form-control pt-0 pb-0 pl-2 pr-2",
            placeholder = Resources.SearchPlaceholder
        })
        </div>
        <div class="col-auto m-0 p-0">
            <input type="image" 
                   src="@Url.Content("~/Content/themes/orange/images/spy_glass.png")" 
                   class="form-control p-0 m-0 w-100 h-100" value="">
        </div>
    </div>
}