@using Blog.Core.Models
@using Blog.WebApp

@helper Tags(System.Web.Mvc.HtmlHelper htmlHelper, IList<Tag> tags)
{
    foreach (var tag in tags)
    {
        <div class="tags-div">
            @htmlHelper.TagLink(tag)
        </div>
    }
}